# Condicionales

In [ ]:
if 1 < 2:
  print("1 es menor que 2")

1 es menor que 2

In [ ]:
if not 1 == 2:
  print("1 no es igual a 2")

1 no es igual a 2

In [ ]:
if not 0:
  print("0 no es Falso")

0 no es Falso

In [ ]:
if 30>20>10:
  print("30>20>10 es correcto")

30>20>10 es correcto

In [ ]:
one = 1
two = 2
is_two_gt_one = two > one

In [ ]:
if is_two_gt_one==True:   #Método no necesario
  print("2 > 1 es correcto")

2 > 1 es correcto

In [ ]:
if is_two_gt_one:   #Método simplificado
  print("2 > 1 es correcto")

2 > 1 es correcto

In [ ]:
if (30>20) and (20>10):
  print("Correcto")

Correcto

In [ ]:
if (30>20) or (20<10):
  print("Una de las dos condiciones es correcta")

Una de las dos condiciones es correcta

## Estructura condicionales Elif - Else

In [ ]:
'''
if condicion: --------Obligatorio
elif condicion2: -------- Opcionales
elif condicion3: --------Opcionales
else ---------Opcionales
'''

In [ ]:
some_list = [-1, 0, 1, 2]

if min(some_list) < 0:
    print("El valor mínimo de la lista es menor que cero!")
else:
    print("El valor mínimo de la lista no es menor que cero!")

El valor mínimo de la lista es menor que cero!

In [ ]:
num: int = -3
if num > 0:
    print("El número es mayor que cero!")

elif num == 0:
    print("El número es igual a cero!")

else:
    print("El número es menor que cero!")

El número es menor que cero!

In [ ]:
num: int = 8
if num > 0:

    print("El número es mayor que cero!")

else:   #Otra sintaxis

    if num == 0:
        print("El número es igual a cero!")
    else:
        print("El número es menor que cero!")

El número es mayor que cero!

In [ ]:
num:int=2
value={
    0:10,
    1:15,
    2:18,
    }[num]
value

18

#Iteradores usando For

In [ ]:
Palabras = ["Gato","Ventana", "Puerta", "Sala"]
for i in Palabras :     #i es una variable temporal
  print (i, len(i))  #Condicional Controlado

Gato 4
Ventana 7
Puerta 6
Sala 4

In [ ]:
Palabras = ["Gato","Ventana", "Puerta", "Sala"]
for i in Palabras :
  print (i, len(i))
else:     #Else Opcional
   print("Finalizado")  #Sintaxis alargada

Gato 4
Ventana 7
Puerta 6
Sala 4
Finalizado

In [ ]:
Palabras[0]

'Gato'

In [ ]:
Palabras = ["Gato","Ventana", "Puerta", "Sala"]
for i in Palabras :
  print (i, len(i))
print("Finalizado")  #Sintaxis simplificada

Gato 4
Ventana 7
Puerta 6
Sala 4
Finalizado

In [ ]:
for letra in "abcde":
  print(letra)

a
b
c
d
e

In [ ]:
for letra in "abcde":  #"letra" está Jarcodeado (Quemado). Es lo mismo que tener la variable letra = "abcde"
  print(letra*10)

aaaaaaaaaa
bbbbbbbbbb
cccccccccc
dddddddddd
eeeeeeeeee

In [ ]:
for letra in "abcde":
  print(letra*10)
  print(letra)

aaaaaaaaaa
a
bbbbbbbbbb
b
cccccccccc
c
dddddddddd
d
eeeeeeeeee
e

In [ ]:
#Recorderis
Variable1=[1,2,3]*2
Variable2= (1,2,3)*2

print(Variable1, Variable2)

[1, 2, 3, 1, 2, 3] (1, 2, 3, 1, 2, 3)

In [ ]:
dicc={     ##Los diccionarios son tipos de datos no ordenados
    "a": 1,
    "b": 2,
    "c": 3,
}

for i in dicc:
  print(i)

a
b
c

In [ ]:
#Recorderis
v1= (4,5,6) #Tupla (Estructura de datos)
v2= [4,5,6] #Lista (Estructura de datos)

In [ ]:
v2[0]=4*3
v2

[12, 5, 6]

In [ ]:
v1[0]=4*3 #No se permite para Tuplas
v1

TypeError: ignored

In [ ]:
# Explicación más a detalle sobre los diccionarios (Estructura de datos)
dicc1 = {"llave":"valor"}
print(dicc1["llave"])

valor

In [ ]:
dicc2 = {"valor":15}
print(dicc2["valor"])

15

In [ ]:
dicc2["Prueba6","Prueba2"] = 10,20
print(dicc2)

{'valor': 15, 'Prueba1': 10, 'Prueba3': 20, 'Prueba4': 40, ('Prueba6', 'Prueba2'): (10, 20)}

In [ ]:
dicc2["valor"]=150
print(dicc2["valor"])

150

In [ ]:
print(dicc2)

{'valor': 150}

In [ ]:
dicc2["Tel"]= "3002120894"  #Agregar llaves al diccionario
print(dicc2)

{'valor': 150, 'Tel': '3002120894'}

In [ ]:
dicc2["llave2"] = {"email":"demo@gmail.com"}
print(dicc2)

{'valor': 150, 'Tel': '3002120894', 'email': {'email': 'demo@gmail.com'}, 'llave2': {'email': 'demo@gmail.com'}}

In [ ]:
dicc2["llave2"] = "demo2@gmail.com"

In [ ]:
print(dicc2)

{'valor': 150, 'Tel': '3002120894', 'email': {'email': 'demo@gmail.com'}, 'llave2': 'demo2@gmail.com'}

In [ ]:
print(dicc2["email"])

{'email': 'demo@gmail.com'}

In [ ]:
print(dicc2["email"]["email"])

demo@gmail.com

In [ ]:
dicc={
    "a": 1,
    "b": 2,
    "c": 3,
}

for key in dicc.keys():
  print(key)

a
b
c

In [ ]:
dicc={
    "a": 1,
    "b": 2,
    "c": 3,
}

for value in dicc.values():
  print(value)

1
2
3

In [ ]:
dicc={
    "a": 1,
    "b": 2,
    "c": 3,
}

for item in dicc.items():
  print(item)

('a', 1)
('b', 2)
('c', 3)

In [ ]:
"""
Es necesario identificar el tipo de dato que tiene una variable cuando se imprime
('a', 1) ---- Tupla con dos elementos: Primer elemento tipo Str y el segundo tipo int
('b', 2) ---- Tupla con dos elementos: Primer elemento tipo Str y el segundo tipo int
('c', 3) ---- Tupla con dos elementos: Primer elemento tipo Str y el segundo tipo int
"""

In [ ]:
dicc={     #Forma tradicional
    "a": 1,
    "b": 2,
    "c": 3,
}

for item in dicc.items():
  print(item)

('a', 1)
('b', 2)
('c', 3)

In [ ]:
dicc={     #Truco Profesor Luis
    "a": 1,
    "b": 2,
    "c": 3,
}

for key, value in dicc.items():
  print("nombre llave:",key)

nombre llave: a
nombre llave: b
nombre llave: c

In [ ]:
dicc={     #Truco Profesor Luis
    "a": 1,
    "b": 2,
    "c": 3,
}

for key, value in dicc.items():
  print("nombre llave:",key)
  print("nombre valor:",value)

nombre llave: a
nombre valor: 1
nombre llave: b
nombre valor: 2
nombre llave: c
nombre valor: 3

In [ ]:
valor = ("a",1)
print(valor)

('a', 1)

In [ ]:
a,b = ("uno", "dos")
print(a)
print(b)

uno
dos

In [ ]:
list(range(5))

[0, 1, 2, 3, 4]

In [ ]:
sum(range(5))

10

In [ ]:
for i in range(5, 10):
    print(i, end=", ")

5, 6, 7, 8, 9,

In [ ]:
list_a = ["a", "b", "c", "d", "e"]
for index in range(len(list_a)):
    print(index, list_a[index])

0 a
1 b
2 c
3 d
4 e

In [ ]:
list_a = ["a", "b", "c", "d", "e"]

for element in list_a:

    if element == list_a[0]:
        print(">>> first element")
        continue

    if element == list_a[-1]:
        print(">>> last element")
        continue

    print(element)

>>> first element
b
c
d
>>> last element

In [ ]:
list_a = ["a", "b", "c", "d", "e"]

for element in list_a:

    if element == list_a[0]:
        print(">>> first element")
        break

    if element == list_a[-1]:
        print(">>> last element")
        continue

    print(element)

>>> first element

In [ ]:
list_a = ["a", "b", "c", "d", "e"]

for element in list_a:

    if element == list_a[0]:
        print(">>> first element")
        continue

    if element == list_a[-2]:
        print(">>> last element")
        break

    print(element)

>>> first element
b
c
>>> last element

In [ ]:
for _ in range(5):

SyntaxError: ignored

In [ ]:
for _ in range(5):
    pass

In [ ]:
for index in range(10):
    if index > 2 and index < 8:
        pass
    else:
        print(index)

0
1
2
8
9

# Iteradores usando While

In [ ]:
counter = 0

while counter < 5:
    #
    # Cuerpo del while
    #
    print(counter)
    counter = counter + 1
#Else:
print("fin")   #No es necesario colocar el Else

0
1
2
3
4
fin

#Creación de funciones

## Funciones declaradas

In [1]:
#Funciones sin argumentos y sin retornos

def nombre():
  print("Saludo")

In [2]:
nombre()

Saludo

In [ ]:
def nombre2(nombre:str):
  print("Saludo", nombre)
nombre2()

TypeError: ignored

In [ ]:
## Funciones con argumentos y sin retornos
def nombre2(nombre:str):   #Dentro del nombre de la función () se encuentran los parámetros
  print("Saludo", nombre)
nombre2("Luis")   ##Luis es el argumento

Saludo Luis

In [3]:
## Funciones con argumentos y con retornos
def nombre3(nombre:str):
  texto_saludo =f"Saludo {nombre}" #Se almacenará el valor transformado
  return texto_saludo

In [ ]:
saludo = nombre3("Luis")

In [ ]:
print(saludo)

Saludo Luis

In [ ]:
print(saludo.upper())
print(saludo.center(50, "*"))
print(saludo.upper().center(50, "*"))
print(saludo.center(50, "*").upper())

SALUDO LUIS
*******************Saludo Luis********************
*******************SALUDO LUIS********************
*******************SALUDO LUIS********************

In [ ]:
def nombre3(nombre:str, email:str, edad:int = 0):  #edad = 0 es un argumento opcional, es decir, no siempre se debe enviar. Los demás argumentos son obligatorios
  texto_saludo =f"Saludo {nombre}, email {email}"
  return texto_saludo, edad ** 2  #En este caso la función devuelve 2 valores

In [ ]:
nombre3("David","dzuletam@unal.edu.co")   #Cuando se retorna más de un valor, siempre de retorna en tupla

('Saludo David, email dzuletam@unal.edu.co', 0)

In [ ]:
nombre3("David","dzuletam@unal.edu.co", 20)

('Saludo David, email dzuletam@unal.edu.co', 400)

In [ ]:
nombre3("David","dzuletam@unal.edu.co",edad=20)

('Saludo David, email dzuletam@unal.edu.co', 400)

In [ ]:
saludo, exponencial = nombre3("David","dzuletam@unal.edu.co",edad=20) #Igual número de valores de la lista como de variables

In [ ]:
print(saludo)

Saludo David, email dzuletam@unal.edu.co

In [ ]:
print(exponencial)

400

In [ ]:
saludo1 = nombre3("David","dzuletam@unal.edu.co",edad=20)
saludo1

('Saludo David, email dzuletam@unal.edu.co', 400)

In [ ]:
saludo1= nombre3("David","dzuletam@unal.edu.co",edad=20)[0]
saludo1

'Saludo David, email dzuletam@unal.edu.co'

In [ ]:
saludo1= nombre3("David","dzuletam@unal.edu.co",edad=20)[1]
saludo1

400

In [ ]:
def square(x):
    x_squared = x ** 2
    return x_squared

In [ ]:
square(x=2)

4

In [ ]:
display(
    square(2),
    square(x=2),
)

4

4

In [ ]:
def sum_of_squares(x,y):
 return square(x)+ square(y)  #Dentro de la función se hace llamado a la función anterior

In [ ]:
sum_of_squares(2,3)

13

In [ ]:
def my_function(a, b, c):
    print("a:", a)
    print("b:", b)
    print("c:", c)


my_function(1, 2, 3)

a: 1
b: 2
c: 3

In [ ]:
import pandas as pd

In [ ]:
pd.read_csv()

In [ ]:
username = "wick.john"

'''Ambito: La variable que está fuera de la función
puede ser utilizada por una o varias funciones diferentes. Si se define una variable dentro de una función
(la variable está en el ambito de la función-se debe retornar para poderla visualizar)
no se podrá llamar para otra función diferente.
'''

def print_username():
    print(username)


print_username()

wick.john

In [ ]:
int_var = 5   #Variable creada afuera de la función


def my_function(int_var):
    int_var = 3       #Se volvió a llamar la variable dentro de la función y se le reasignó el valor. No hay problema con esto.
    print("inside:", int_var)


my_function(int_var)
print("outside:", int_var)

inside: 3
outside: 5

# * args y ** kwargs

In [ ]:
sum([1,2,3,4])

10

In [ ]:
def datos(*valores: list):
  print(valores)
  print(type(valores))
  return sum(valores)

In [ ]:
datos(1,2,3,4,5,6)

(1, 2, 3, 4, 5, 6)
<class 'tuple'>

21

In [ ]:
def datos2(**valores):
  print(valores)
  print(type(valores))
  return valores.keys()

In [ ]:
datos2(Hector="unal", johan="unal1", juan="unal2") #Argumentos nombrados directamente

{'Hector': 'unal', 'johan': 'unal1', 'juan': 'unal2'}
<class 'dict'>

dict_keys(['Hector', 'johan', 'juan'])

In [ ]:
#
# Tipos de argumentos
#
def my_function(first_arg, second_arg=2, *args, **kwargs):
    print(" first_arg:", first_arg)
    print("second_arg:", second_arg)
    print("      args:", args)
    print("    kwargs:", kwargs)


#
# Llamada con argumentos posicionales
#
my_function(1, 2)

 first_arg: 1
second_arg: 2
      args: ()
    kwargs: {}

In [ ]:
my_function(second_arg=2, first_arg=1)

 first_arg: 1
second_arg: 2
      args: ()
    kwargs: {}

In [ ]:
my_function(1, 2, 3, 4)

 first_arg: 1
second_arg: 2
      args: (3, 4)
    kwargs: {}

In [ ]:
my_function(first_arg=1, second_arg=2, third_arg=3)

 first_arg: 1
second_arg: 2
      args: ()
    kwargs: {'third_arg': 3}

In [ ]:
def my_function(first_arg, second_arg=2, *David, **Zuleta):  #Lo que ayuda a identificar los args y kwargs son los * y ** respectivamente
    print(" first_arg:", first_arg)
    print("second_arg:", second_arg)
    print("      args:", David)
    print("    kwargs:", Zuleta)

my_function(1, 2)

 first_arg: 1
second_arg: 2
      args: ()
    kwargs: {}

In [ ]:
my_function(1, 2, 3, 4, a=5, b=6, c=7)

 first_arg: 1
second_arg: 2
      args: (3, 4)
    kwargs: {'a': 5, 'b': 6, 'c': 7}

In [ ]:
type(my_function)

function

## Funciones anónimas

In [ ]:
print("9999")  #El 9999 es un valor quemado que se ejecuta en esa línea de código pero que posterior no se puede reutilizar

9999

In [ ]:
#Las funciones anónimas tienen el mismo concepto planteado con el ejemplo anterior
print((lambda x,y: x**y)(5,2))

25

In [ ]:
(lambda y, z : y//z)(7,2)

3

In [ ]:
#Comparación con una función declarada en la línea anterior
def exponencial(x: int,y: int):
  exp = x**y
  return exp

exponencial(5,2)

25

In [ ]:
my_exp = (lambda x,y: x**y)

In [ ]:
type(my_exp)

function

In [ ]:
my_exp(3,2)

9

In [ ]:
def make_incrementor(n):
    return lambda x: x + n   #Es redundante esta sintaxis. Es lo mismo a colocar solo return x+n. Se presenta para mostrar casos posibles de sintaxis permitida


f = make_incrementor(42)
f(1)

43

In [ ]:
#
# Función compuesta de varias subfunciones
# Principio de responsabilidad simple:
# cada función hace una tarea y solo una tarea
#
def complex_function(x):
    def constant():    #Está dentro del ambito de la función. No se podrá llamar para otra función.
        return 1

    def first():
        return x

    def second():
        return x ** 2

    result = constant() + first() + second()
    return result


complex_function(2)

7

# Desempaquetado de listas

In [ ]:
#Empaquetamiento
Lista1 = [1,2]
x,y = Lista1

In [ ]:
x

1

In [ ]:
#Desempaquetamiento
first, *sec = [1,2,3]
print(first)
print(sec)

1
[2, 3]

In [ ]:
first, *middle, last = [1, 2, 3, 4]  #Desempaquetamiento parcial
first , middle , last

(1, [2, 3], 4)

#Reemplazo de elementos en listas

In [ ]:
lista2 = [1,2,3,4]

In [ ]:
print(lista2)

[1, 2, 3, 4]

In [ ]:
lista2[1]=10
print(lista2)

[1, 10, 3, 4]

In [ ]:
lista_strings = ['a','b','c','d']
lista_strings[1:3] = ['Z', 'Y']
print(lista_strings)

['a', 'Z', 'Y', 'd']

#Principales métodos de las listas

In [ ]:
#
# Método append
# =============================================================================
#
cubes_list = [1, 8, 27, 64, 125]

#
# Se agrega el cubo de 6 al final de la lista.
#
cubes_list.append(216)

#
# Se agrega el cubo de 7 al final de la lista.
#
cubes_list.append(7 ** 3)
cubes_list

[1, 8, 27, 64, 125, 216, 343]

In [ ]:
lista = []
lista.append(1)
lista

[1]

In [ ]:
lista.append(2)
lista

[1, 2]

In [ ]:
#
# Método append usando el operador +
#
squares_list = [1, 4, 9, 16, 25]

#
# Concatenacion de listas usando el operador +
#
squares_list + [36, 49, 64, 81, 100]

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [ ]:
#
# Método clear
# =============================================================================
#
list_to_clear = [1, 2, 3, 4, 5, 6]  #Se utiliza cuando se trabaja con datos temporales
list_to_clear.clear()
list_to_clear

[]

In [ ]:
#
# Método pop
# =============================================================================
# Lista antes de pop()
squares_list

[1, 4, 9, 16, 25]

In [ ]:
squares_list.pop()

25

In [ ]:
#
# Contenido de squares despues de pop()
#
squares_list

[1, 4, 9, 16]

In [ ]:
#
# Pop() indicando la posición
#
squares_list.pop(0)
squares_list

[4, 9, 16]

In [ ]:
#
# Método extend
# =============================================================================
#
list_a = [0, 1, 2, 3, 4, 5]
list_b = [6, 7, 8, 9]

#
# Agrega lista_b al final de lista_a
#
list_a.extend(list_b)    #Es lo mismo que haber sumado ambos listados "+"
list_a

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
#
# Método insert
# =============================================================================
#
list_a.insert(0, "a")
list_a

['a', 0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
#
# Método count
# =============================================================================
#
list_c = ["a", "b", "b", "c", "c", "c", "d", "d", "d", "d"]

#
# Cantidad de veces que aparece 'c'.
#
list_c.count("c")

3

In [ ]:
#
# Método index
# =============================================================================
#
list_c = ["a", "b", "b", "c", "c", "c", "d", "d", "d", "d"]
list_c.index("c")  #Siempre devuelve la primera ocurrencia. No hace nada con las demás. Todas las funciones de listados tienen el mismo comportamiento

3

In [ ]:
#
# Método remove
# =============================================================================
#
letters_list = ["a", "b", "c", "d", "e", "f", "g"]
letters_list.remove("b")    #Solo eliminará el primer elemento en el que encuentre coincidencia. Si "b" apareciera varias veces, no se elimina más que el primero
letters_list

['a', 'c', 'd', 'e', 'f', 'g']

In [ ]:
#
# Método reverse
# =============================================================================
#
letters_list = ["a", "b", "c", "d", "e", "f", "g"]

letters_list.reverse()
letters_list

['g', 'f', 'e', 'd', 'c', 'b', 'a']

In [ ]:
letters_list = ["a", "b", "c", "d", "e", "f", "g"]
letters_list [::-1]   #Hace lo mismo que el método reverse. "Hay varias formas de llegar al mismo resultado"

['g', 'f', 'e', 'd', 'c', 'b', 'a']

In [ ]:
#
# Método sort
# =============================================================================
#
letters_list = ["a", "b", "c", "d", "e", "f", "g"]
letters_list.sort(reverse=True)
letters_list

['g', 'f', 'e', 'd', 'c', 'b', 'a']

In [ ]:
#
# Función sorted -- A diferencia del método sort, no solo trabaja con listas, también trabaja con tuplas, sets, diccionarios.
# =============================================================================
#
letters_list = ["a", "b", "c", "d", "e", "f", "g"]
sorted(letters_list, reverse=True)     #"Sorted" con otro color, se le llaman funciones globales (ESTÁN PRECARGADAS) a todas (No palabras reservadas)
#hace lo mismo que la sintaxis del "Método Sort"

['g', 'f', 'e', 'd', 'c', 'b', 'a']

In [ ]:
#
# Ordenamiento de listas complejas con sorted
#
tuples_list = [(10, "b"), (8, "a"), (12, "d"), (9, "c")]
sorted(tuples_list, key=itemgetter(1), reverse=False)

NameError: ignored

#Programación funcional

In [ ]:
lista_1: str = "a,b,c,d,e,f,a,a,f,f,q,t,yyyy,x".split(",")
print(lista_1)

['a', 'b', 'c', 'd', 'e', 'f', 'a', 'a', 'f', 'f', 'q', 't', 'yyyy', 'x']

In [ ]:
#¿Qué se quiere? Cambiar a --- AAA
#Primero intentamos con funciones declaradas

def acciones (letra:str):
  return letra.upper()*3

#Prueba de escritorio ---- Solo tome una muestra pequeña de toda la serie de datos para hacer la prueba
acciones("a")
acciones("b")

'BBB'

In [ ]:
elementos = []
for letra in lista_1:
  elementos.append(acciones(letra))

print(elementos)

['AAA', 'BBB', 'CCC', 'DDD', 'EEE', 'FFF', 'AAA', 'AAA', 'FFF', 'FFF', 'QQQ', 'TTT', 'YYYYYYYYYYYY', 'XXX']

In [ ]:
#Ahora usamos programación funcional
list (map(acciones, lista_1))
#Desde la programación funcional, python implicitamente es capaz de ejecutar
#según los datos cargados y los parámetros que está recibiendo.

['AAA',
 'BBB',
 'CCC',
 'DDD',
 'EEE',
 'FFF',
 'AAA',
 'AAA',
 'FFF',
 'FFF',
 'QQQ',
 'TTT',
 'YYYYYYYYYYYY',
 'XXX']

In [ ]:
#Usando funciones anónimas
list(map(lambda letra: letra.upper()*3, lista_1))

['AAA',
 'BBB',
 'CCC',
 'DDD',
 'EEE',
 'FFF',
 'AAA',
 'AAA',
 'FFF',
 'FFF',
 'QQQ',
 'TTT',
 'YYYYYYYYYYYY',
 'XXX']

In [ ]:
from functools import reduce

my_list = [1, 2, 3, 4, 5, 6]

reduce(lambda item_1, item_2: item_1 + item_2, my_list) #reduce hace referencia a barrer
#todo el objeto sobre el que se ejecutará la función y llevar hasta la más mínima
#expresión el resultado sobre la operación que se está aplicando.

21

In [ ]:
#
# Filter retorna los elementos para los
# cuales el condicional da verdadero
#
list_a = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
list(filter(lambda element: element > 4, list_a))

[5, 6, 7, 8, 9]

#Impresión con formato usando f-strings

In [ ]:
#Proceso tradicional
nombre:str = "David"
edad:int = 27

print("Saludo a "+nombre+" de edad "+str(edad))  #Imprimir a partir de variables

Saludo a David de edad 27

In [ ]:
#Con formateo - Versión más actual
print(f"saludo a {nombre} de edad {edad}")

saludo a David de edad 27

In [ ]:
import math

print(f"The value of pi is approximately {math.pi:.3f}.")
# Los dos puntos dentro de las llaves {match.pi:} sirven para especificar escalas
#decimales o darle formato a la cadena.

The value of pi is approximately 3.142.

In [ ]:
table = {"Sjoerd": 4127, "Jack": 4098, "Dcab": 7678}
for name, phone in table.items():
    print(f"{name:10} ==> {phone:10d}")

Sjoerd     ==>       4127
Jack       ==>       4098
Dcab       ==>       7678

In [ ]:
animals = "eels"

print(f"My hovercraft is full of {animals}.")

My hovercraft is full of eels.

In [ ]:
print("user|age")
print(f"{nombre}|{edad}")  #Sirve para crear archivos usando cualquier delimitación "|"

user|age
David|27

In [ ]:
print("user|age|etapa")
print(f"{nombre}|{edad}|{len(nombre)}")   #Se pueden aplicar funciones externas
#o funciones relacionadas al formateo.

user|age|etapa
David|27|5

In [ ]:
print(f"{nombre}|{edad}|{(nombre).upper()}")

user|age|etapa
David|27|DAVID

In [ ]:
#Formateo para imprimir un query de SQL.
# ¿Cómo hacer formateo si no se quiere declarar variables antes?
#Declarando variables
tabla1 = "xy"
tabla2 = "ab"
sql = f'''
select
from {tabla1}
union
select *
from {tabla2}
'''

print (sql)

select
from xy
union
select *
from ab

In [ ]:
#Formateo multiple para reemplazar varias variables al tiempo que se declaran antes.
#Se define el template
sql = '''
select t1.v1, t2.v2
from {zona}.{tablax} t1
inner join
{zona}.{tablay} t2
on (t1.v1 = t2.v2)
union
select *
from {zona}.{tablaz}
'''

In [ ]:
datos:dict = {
    "tablax":"proceso",
    "tablay":"resultado",
    "tablaz":"datos_crudos",
    "zona": "entorno",
}

In [ ]:
sql.format(**datos)

'     \nselect t1.v1, t2.v2\nfrom entorno.proceso t1\ninner join \nentorno.resultado t2\non (t1.v1 = t2.v2)\nunion \nselect * \nfrom entorno.datos_crudos\n'

In [ ]:
print(sql.format(**datos))

select t1.v1, t2.v2
from entorno.proceso t1
inner join
entorno.resultado t2
on (t1.v1 = t2.v2)
union
select *
from entorno.datos_crudos

In [ ]:
datos:dict = {
    "tablax":"proceso",
    "tablay":"resultado",
    "tablaz":"datos_crudos",
    "zona": "uat",
}

In [ ]:
print(sql.format(**datos))

select t1.v1, t2.v2
from uat.proceso t1
inner join
uat.resultado t2
on (t1.v1 = t2.v2)
union
select *
from uat.datos_crudos

In [ ]:
#Método Format() --- No se evaluará en el curso. Es importante conocerlo dado que se usa muy seguido.
#Versión anterior

In [ ]:
#Manejo de Excepciones
1/0

ZeroDivisionError: ignored

In [ ]:
#Manejo de excepciones
try: #Obligatorio
 #El código que se quiere validar en caso de fallos
except: #Obligatorio
 #Intercepta la excepción y se le da un tratamiento adecuado
else: #Opcional
 #Se ejecuta cuando todo sale bien
finally: #Opcional
 #Ejecutarse termine bien o termine mal

In [ ]:
try:
  1/0
except:
  print('Es un error')

Es un error

In [ ]:
try:
  1/0
except Exception as ex:
  print(f'un error, fue {ex}')
  print("Comuniquese con el Admin.")

un error, fue division by zero
Comuniquese con el Admin.

In [ ]:
try:
  1/0
except ZeroDivisionError as ex: #Se obtiene copiando el tipo de error arrojado cuando se intentó hacer la división sobre 0.
  print(f'un error de división sobre 0')
  print("Comuniquese con el Admin.")
except Exception as ex:
  print(f'un error desconocido, fue {ex}')
  print("Comuniquese con el Admin.")

un error de división sobre 0
Comuniquese con el Admin.